In [4]:
import pandas as pd

In [5]:
df=pd.read_excel("traffic_stops.xlsx")
print(df)

       stop_date stop_time country_name driver_gender  driver_age_raw  \
0     2020-01-01  00:00:00       Canada             M              59
1     2020-01-01  00:01:00        India             M              35
2     2020-01-01  00:02:00          USA             M              26
3     2020-01-01  00:03:00       Canada             M              26
4     2020-01-01  00:04:00       Canada             M              62
...          ...       ...          ...           ...             ...
65533 2020-02-15  12:13:00        India             F              54
65534 2020-02-15  12:14:00       Canada             F              18
65535 2020-02-15  12:15:00          USA             M              27
65536 2020-02-15  12:16:00       Canada             F              49
65537 2020-02-15  12:17:00          USA             F              72

       driver_age driver_race     violation_raw violation  search_conducted  \
0              19       Asian     Drunk Driving  Speeding              True
1              58       Other             Other     Other             False
2              76       Black  Signal Violation  Speeding             False
3              76       Black          Speeding       DUI              True
4              75       Other          Speeding     Other             False
...           ...         ...               ...       ...               ...
65533          48       Black             Other     Other             False
65534          35    Hispanic          Seatbelt     Other              True
65535          41       Asian          Seatbelt       DUI              True
65536          63       Black          Seatbelt     Other             False
65537          32       Other          Seatbelt  Speeding              True

          search_type stop_outcome  is_arrested stop_duration  \
0      Vehicle Search       Ticket         True     16-30 Min
1      Vehicle Search       Arrest         True     16-30 Min
2               Frisk       Ticket         True     16-30 Min
3               Frisk      Warning        False      0-15 Min
4      Vehicle Search       Arrest         True     16-30 Min
...               ...          ...          ...           ...
65533  Vehicle Search       Arrest         True     16-30 Min
65534  Vehicle Search       Ticket        False     16-30 Min
65535           Frisk       Ticket         True       30+ Min
65536             NaN      Warning         True      0-15 Min
65537             NaN       Ticket         True     16-30 Min

       drugs_related_stop vehicle_number
0                    True     UP76DY3473
1                    True     RJ83PZ4441
2                    True     RJ32OM7264
3                    True     RJ76TI3807
4                   False     WB63BB8305
...                   ...            ...
65533               False     DL56GW6568
65534                True     TN73EO7098
65535                True     GJ33MX8328
65536                True     KA24UZ8488
65537               False     UP89PT2924

[65538 rows x 16 columns]

In [6]:
#to check if there is any null values
#isnull will check whether the data has null values,sum will count the number of values
print(df.isnull().sum())

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [7]:
#filling the none values with the word 'Not Searched'
df['search_type']=df['search_type'].fillna("Not Searched")

In [8]:
#there is no null values 
df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [9]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,Not Searched,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,Not Searched,Ticket,True,16-30 Min,False,UP89PT2924

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](1), int64(2), object(10)
memory usage: 6.7+ MB

In [11]:
from datetime import datetime
now_time=datetime.now().time()
print(now_time)

13:07:05.930284

In [12]:
#to convert the datatype(object) to datetime
df['stop_time'] = pd.to_datetime(df['stop_time'], format='%H:%M:%S', errors='coerce')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(2), object(9)
memory usage: 6.7+ MB

In [37]:
#Connecting MySQL server
import mysql.connector

In [36]:
mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",
)
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001720534EE90>

In [16]:
#Creating database
mycursor.execute("create database digital")

In [17]:
#Creating table
mycursor.execute("""create table digital.ledger(
stop_date date,
stop_time time,
country_name varchar(50),
driver_gender char(1),
driver_age_raw int,
driver_age int,
driver_race varchar(50),
violation_raw varchar(50),
violation varchar(50),
search_conducted boolean,
search_type varchar(50),
stop_outcome varchar(50),
is_arrested boolean,
stop_duration varchar(20),
drugs_related_stop boolean,
vehicle_number varchar(15))""")
mydb.commit()

In [39]:
#Inserting from dataframe to sql using tolist()
data_to_list=df.values.tolist()
query="""insert into digital.ledger(stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number)
values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
mycursor.execute("set global max_allowed_packet=67108864")   #this line mentions max allowed data pockets as the data set is large
mycursor.executemany(query,data_to_list)

mydb.commit()

In [40]:
#writing sql queries
#(1) top 10 vehicle no related to drug related stops
mycursor.execute("""select vehicle_number,count(*) as count
from digital.ledger
where drugs_related_stop=TRUE
group by vehicle_number
order by count desc
limit 10""")


a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+------------------+---------+
| vehicle_number   |   count |
|------------------+---------|
| DL48TG6523       |       1 |
| WB65NV3314       |       1 |
| GJ35SE8122       |       1 |
| UP23CV3132       |       1 |
| UP52MM6736       |       1 |
| KA20QP3477       |       1 |
| WB56SK3729       |       1 |
| KA59MC1573       |       1 |
| UP38VF9439       |       1 |
| WB42JJ5979       |       1 |
+------------------+---------+

In [41]:
#(2) frequently searched vehicle
mycursor.execute("""select vehicle_number,count(*) as most_frequent_search_count
from digital.ledger
where search_conducted =TRUE
group by vehicle_number
order by most_frequent_search_count desc
limit 15""")
 
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+------------------+------------------------------+
| vehicle_number   |   most_frequent_search_count |
|------------------+------------------------------|
| KA79AR9667       |                            1 |
| RJ15QV4100       |                            1 |
| TN96BD7735       |                            1 |
| WB56JV2633       |                            1 |
| MH78YQ7877       |                            1 |
| TN52AH5640       |                            1 |
| TN31UD9214       |                            1 |
| MH44ZR2257       |                            1 |
| TN99HZ6050       |                            1 |
| TN14DO2394       |                            1 |
| DL26UD8746       |                            1 |
| KA38BG8584       |                            1 |
| MH15XT3536       |                            1 |
| UP66JJ7042       |                            1 |
| UP88IQ4817       |                            1 |
+------------------+------------------------------+

In [42]:
mycursor.execute("""select min(driver_age) as min_age,max(driver_age) as max_age from digital.ledger""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-----------+-----------+
|   min_age |   max_age |
|-----------+-----------|
|        18 |        80 |
+-----------+-----------+

In [44]:
#(3) which driver age grp have high arrest rate
mycursor.execute("""select case
    when driver_age between 18 and 25 then '18-25'
    when driver_age between 26 and 35 then '26-35'
    when driver_age between 36 and 45 then '36-45'
    when driver_age between 46 and 60 then '46-60'
    else '60+' 
end as age_group,

count(*) as total_stops,
count(case when is_arrested =TRUE then 1 end) as arrests,
round(count(case when is_arrested =TRUE then 1 end)/count(*)*100.0,2) as arrest_rate

from digital.ledger
group by age_group
order by arrest_rate desc limit 1""")

a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+---------------+-----------+---------------+
| age_group   |   total_stops |   arrests |   arrest_rate |
|-------------+---------------+-----------+---------------|
| 18-25       |          8137 |      4171 |         51.26 |
+-------------+---------------+-----------+---------------+

In [45]:
#(4) gender distribution of drivers stopped in each country
mycursor.execute("""select country_name,count(case when driver_gender='M' then 1 end) as MALE,count(case when driver_gender='F' then 1 end) as FEMALE from digital.ledger
group by country_name 

""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+----------------+--------+----------+
| country_name   |   MALE |   FEMALE |
|----------------+--------+----------|
| Canada         |  10911 |    10997 |
| India          |  10955 |    11043 |
| USA            |  10791 |    10841 |
+----------------+--------+----------+

In [46]:
#(5) which race & gender combo has highest serach rate
mycursor.execute("""select
driver_race,
driver_gender,
round(count(case when search_conducted =TRUE then 1 end)/count(*)*100.0, 2) as search_rate
from digital.ledger
group by driver_race, driver_gender
order by search_rate DESC
limit 1          
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+---------------+-----------------+---------------+
| driver_race   | driver_gender   |   search_rate |
|---------------+-----------------+---------------|
| Asian         | F               |         51.29 |
+---------------+-----------------+---------------+

In [47]:
#(6) what time of the day see the most traffic stop
mycursor.execute("""select hour(str_to_date(stop_time,'%H:%i')) as hour_of_the_day,count(*) as stop_count
from digital.ledger
group by hour_of_the_day
order by stop_count DESC
limit 1
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------------+--------------+
|   hour_of_the_day |   stop_count |
|-------------------+--------------|
|                 8 |         2760 |
+-------------------+--------------+

In [48]:
#(7) avg stop duration for different violation
mycursor.execute("""select violation,
avg(case
        when stop_duration = '0-15 Min' then 7.5
        when stop_duration = '16-30 Min' then 23
        when stop_duration = '30+ Min' then 35
        END) as average_stop_duration
from digital.ledger
group by violation""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+-------------------------+
| violation   |   average_stop_duration |
|-------------+-------------------------|
| DUI         |                 21.7413 |
| Other       |                 22.2033 |
| Seatbelt    |                 21.8332 |
| Signal      |                 21.7121 |
| Speeding    |                 21.7945 |
+-------------+-------------------------+

In [49]:
#(8) are the stops during the night  are more likely to lead to arrests
mycursor.execute("""select
   case
        when hour(str_to_date(stop_time,'%H:%i'))>=18 or hour(str_to_date(stop_time,'%H:%i'))<6 
        then 'NIGHT'
        else 'DAY'
    end as stop_period,
    count(*) as total_stops,
    count(case when is_arrested=TRUE then 1 end) as arrests,
    round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate_percent
from digital.ledger
group by stop_period
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+---------------+---------------+-----------+-----------------------+
| stop_period   |   total_stops |   arrests |   arrest_rate_percent |
|---------------+---------------+-----------+-----------------------|
| DAY           |         32778 |     16557 |                 50.51 |
| NIGHT         |         32760 |     16289 |                 49.72 |
+---------------+---------------+-----------+-----------------------+

In [50]:
#(9) which violation most associated with search or arrest
mycursor.execute("""select violation,
  count(case when search_conducted=TRUE then 1 end) as count_of_the_search,
  count(case when is_arrested=TRUE then 1 end) as count_of_the_arrest,
  round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2) as search_rate,
  round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate,
  greatest(round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2),round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2)) as maximum_arrest_or_search_rate
from digital.ledger
group by violation
order by maximum_arrest_or_search_rate desc limit 1
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+-----------------------+-----------------------+---------------+---------------+---------------------------------+
| violation   |   count_of_the_search |   count_of_the_arrest |   search_rate |   arrest_rate |   maximum_arrest_or_search_rate |
|-------------+-----------------------+-----------------------+---------------+---------------+---------------------------------|
| DUI         |                  6481 |                  6610 |         49.57 |         50.55 |                           50.55 |
+-------------+-----------------------+-----------------------+---------------+---------------+---------------------------------+

In [51]:
#(10) which violation most common among young driver (i.e) less than 25
mycursor.execute("""select violation,count(*) as counts_of_driver from digital.ledger
where driver_age<25
group by violation
order by counts_of_driver desc limit 1              
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+--------------------+
| violation   |   counts_of_driver |
|-------------+--------------------|
| Speeding    |               1476 |
+-------------+--------------------+

In [52]:
#(11) is there violation rarely result in search(or)arrest
mycursor.execute("""select violation,
  count(case when search_conducted=TRUE then 1 end) as count_of_the_search,
  count(case when is_arrested=TRUE then 1 end) as count_of_the_arrest,
  round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2) as search_rate,
  round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate,
  least(round(count(case when search_conducted=TRUE then 1 end)/count(*)*100.0,2),round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2)) as rarely_arrest_or_search_rate
from digital.ledger
group by violation
order by rarely_arrest_or_search_rate asc limit 1
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+-----------------------+-----------------------+---------------+---------------+--------------------------------+
| violation   |   count_of_the_search |   count_of_the_arrest |   search_rate |   arrest_rate |   rarely_arrest_or_search_rate |
|-------------+-----------------------+-----------------------+---------------+---------------+--------------------------------|
| Other       |                  6576 |                  6516 |         49.84 |         49.39 |                          49.39 |
+-------------+-----------------------+-----------------------+---------------+---------------+--------------------------------+

In [53]:
#(12) which countries report the highest rate of drug related stops
mycursor.execute("""select country_name,
count(*) as tot_counts,
round(count(case when drugs_related_stop=TRUE then 1 end)/count(*)*100.0,2) as drugs_related_stop_rates
from digital.ledger
group by country_name 
order by drugs_related_stop_rates desc limit 1                                
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+----------------+--------------+----------------------------+
| country_name   |   tot_counts |   drugs_related_stop_rates |
|----------------+--------------+----------------------------|
| USA            |        21632 |                      50.37 |
+----------------+--------------+----------------------------+

In [54]:
#(13) what is the arrest rate by country & violation
mycursor.execute("""select country_name,violation,
count(*) as tot_count,
round(count(case when is_arrested=TRUE then 1 end)/count(*)*100.0,2) as arrest_rate
from digital.ledger
group by country_name,violation
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+----------------+-------------+-------------+---------------+
| country_name   | violation   |   tot_count |   arrest_rate |
|----------------+-------------+-------------+---------------|
| Canada         | DUI         |        4414 |         51.13 |
| Canada         | Other       |        4371 |         50.29 |
| Canada         | Seatbelt    |        4421 |         50.46 |
| Canada         | Signal      |        4327 |         49.18 |
| Canada         | Speeding    |        4375 |         49.94 |
| India          | DUI         |        4420 |         50.84 |
| India          | Other       |        4431 |         49.29 |
| India          | Seatbelt    |        4345 |         50.56 |
| India          | Signal      |        4444 |         50.65 |
| India          | Speeding    |        4358 |         50.76 |
| USA            | DUI         |        4241 |         49.66 |
| USA            | Other       |        4392 |         48.59 |
| USA            | Seatbelt    |        4241 |         50.58 |
| USA            | Signal      |        4341 |         49.99 |
| USA            | Speeding    |        4417 |         49.83 |
+----------------+-------------+-------------+---------------+

In [55]:
#(14) which country has most stop with search conducted
mycursor.execute("""select country_name,count(case when search_conducted=TRUE then 1 end) as no_of_counts from digital.ledger
group by country_name
order by no_of_counts desc limit 1
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+----------------+----------------+
| country_name   |   no_of_counts |
|----------------+----------------|
| Canada         |          11020 |
+----------------+----------------+

In [56]:
#(15) top 5 violation with highest arrest rate 
mycursor.execute("""select violation,count(*) as total,
round(count(case when is_arrested=TRUE then 1 end)/count(*)*100,2) as arrest_rate 
from digital.ledger
group by violation
order by arrest_rate desc limit 5                
""") 
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+---------+---------------+
| violation   |   total |   arrest_rate |
|-------------+---------+---------------|
| DUI         |   13075 |         50.55 |
| Seatbelt    |   13007 |         50.53 |
| Speeding    |   13150 |         50.17 |
| Signal      |   13112 |         49.95 |
| Other       |   13194 |         49.39 |
+-------------+---------+---------------+

In [57]:
mycursor.execute("""select driver_race from digital.ledger group by driver_race""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+---------------+
| driver_race   |
|---------------|
| Asian         |
| Black         |
| Hispanic      |
| Other         |
| White         |
+---------------+

In [58]:
mycursor.execute("""select driver_age from digital.ledger group by driver_age""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+--------------+
|   driver_age |
|--------------|
|           18 |
|           19 |
|           20 |
|           21 |
|           22 |
|           23 |
|           24 |
|           25 |
|           26 |
|           27 |
|           28 |
|           29 |
|           30 |
|           31 |
|           32 |
|           33 |
|           34 |
|           35 |
|           36 |
|           37 |
|           38 |
|           39 |
|           40 |
|           41 |
|           42 |
|           43 |
|           44 |
|           45 |
|           46 |
|           47 |
|           48 |
|           49 |
|           50 |
|           51 |
|           52 |
|           53 |
|           54 |
|           55 |
|           56 |
|           57 |
|           58 |
|           59 |
|           60 |
|           61 |
|           62 |
|           63 |
|           64 |
|           65 |
|           66 |
|           67 |
|           68 |
|           69 |
|           70 |
|           71 |
|           72 |
|           73 |
|           74 |
|           75 |
|           76 |
|           77 |
|           78 |
|           79 |
|           80 |
+--------------+

In [59]:
#(16) driver demographic by country[age,gender,race]
mycursor.execute("""select country_name,count(*) as tot_driver,
count(case when driver_gender='M' then 1 end) as Male_driver,
count(case when driver_gender='F' then 1 end) as Female_driver,
count(case when driver_race='Asian' then 1 end) as Asian_driver,
count(case when driver_race='Black' then 1 end) as Black_driver,
count(case when driver_race='Hispanic' then 1 end) as Hispanic_driver,
count(case when driver_race='Other' then 1 end) as Other_people,
count(case when driver_race ='White' then 1 end) as White_driver,
count(case when driver_age<30 then 1 end) as less_than_thirty,
count(case when driver_age between 30 and 50 then 1 end) as between_thirty_and_fifty,
count(case when driver_age>50 then 1 end) as greater_than_fifty                                  
from digital.ledger
group by country_name""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+----------------+--------------+---------------+-----------------+----------------+----------------+-------------------+----------------+----------------+--------------------+----------------------------+----------------------+
| country_name   |   tot_driver |   Male_driver |   Female_driver |   Asian_driver |   Black_driver |   Hispanic_driver |   Other_people |   White_driver |   less_than_thirty |   between_thirty_and_fifty |   greater_than_fifty |
|----------------+--------------+---------------+-----------------+----------------+----------------+-------------------+----------------+----------------+--------------------+----------------------------+----------------------|
| Canada         |        21908 |         10911 |           10997 |           4344 |           4342 |              4395 |           4398 |           4429 |               4177 |                       7254 |                10477 |
| India          |        21998 |         10955 |           11043 |           4451 |           4418 |              4406 |           4377 |           4346 |               4124 |                       7355 |                10519 |
| USA            |        21632 |         10791 |           10841 |           4316 |           4371 |              4205 |           4347 |           4393 |               4049 |                       7242 |                10341 |
+----------------+--------------+---------------+-----------------+----------------+----------------+-------------------+----------------+----------------+--------------------+----------------------------+----------------------+

In [60]:
#(17) violation with high search and arrest rate(window fn)
mycursor.execute("""select * from(select distinct violation,
count(*) over(partition by violation) as total_stops,
sum(case when search_conducted=TRUE then 1 else 0 end) over(partition by violation) as total_searches,
sum(case when is_arrested=TRUE then 1 else 0 end) over(partition by violation) as total_arrests,
round(avg(case when search_conducted=TRUE then 1 else 0 end) over(partition by violation)*100,2) as search_rate_percent,
round(avg(case when is_arrested=TRUE then 1 else 0 end) over(partition by violation)*100,2) as arrest_rate_percent
from digital.ledger
)as sub
where search_rate_percent>20 or arrest_rate_percent>20
order by search_rate_percent desc,arrest_rate_percent desc
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+---------------+------------------+-----------------+-----------------------+-----------------------+
| violation   |   total_stops |   total_searches |   total_arrests |   search_rate_percent |   arrest_rate_percent |
|-------------+---------------+------------------+-----------------+-----------------------+-----------------------|
| Seatbelt    |         13007 |             6562 |            6573 |                 50.45 |                 50.53 |
| Speeding    |         13150 |             6573 |            6598 |                 49.98 |                 50.17 |
| Other       |         13194 |             6576 |            6516 |                 49.84 |                 49.39 |
| Signal      |         13112 |             6509 |            6549 |                 49.64 |                 49.95 |
| DUI         |         13075 |             6481 |            6610 |                 49.57 |                 50.55 |
+-------------+---------------+------------------+-----------------+-----------------------+-----------------------+

In [61]:
#(18) time period analysis of stops(joining with date functions),number of stops by year,month,hour of the day
mycursor.execute("""select
year(str_to_date(stop_date,'%Y-%m-%d')) as STOP_YEAR,
month(str_to_date(stop_date,'%Y-%m-%d')) as STOP_MONTH,
hour(str_to_date(stop_time,'%H:%i')) as STOP_HOUR,
count(*) as total_stops
from digital.ledger
group by STOP_YEAR,STOP_MONTH,STOP_HOUR
order by STOP_YEAR,STOP_MONTH,STOP_HOUR
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+--------------+-------------+---------------+
|   STOP_YEAR |   STOP_MONTH |   STOP_HOUR |   total_stops |
|-------------+--------------+-------------+---------------|
|        2020 |            1 |           0 |          1860 |
|        2020 |            1 |           1 |          1860 |
|        2020 |            1 |           2 |          1860 |
|        2020 |            1 |           3 |          1860 |
|        2020 |            1 |           4 |          1860 |
|        2020 |            1 |           5 |          1860 |
|        2020 |            1 |           6 |          1860 |
|        2020 |            1 |           7 |          1860 |
|        2020 |            1 |           8 |          1860 |
|        2020 |            1 |           9 |          1860 |
|        2020 |            1 |          10 |          1860 |
|        2020 |            1 |          11 |          1860 |
|        2020 |            1 |          12 |          1860 |
|        2020 |            1 |          13 |          1860 |
|        2020 |            1 |          14 |          1860 |
|        2020 |            1 |          15 |          1860 |
|        2020 |            1 |          16 |          1860 |
|        2020 |            1 |          17 |          1860 |
|        2020 |            1 |          18 |          1860 |
|        2020 |            1 |          19 |          1860 |
|        2020 |            1 |          20 |          1860 |
|        2020 |            1 |          21 |          1860 |
|        2020 |            1 |          22 |          1860 |
|        2020 |            1 |          23 |          1860 |
|        2020 |            2 |           0 |           900 |
|        2020 |            2 |           1 |           900 |
|        2020 |            2 |           2 |           900 |
|        2020 |            2 |           3 |           900 |
|        2020 |            2 |           4 |           900 |
|        2020 |            2 |           5 |           900 |
|        2020 |            2 |           6 |           900 |
|        2020 |            2 |           7 |           900 |
|        2020 |            2 |           8 |           900 |
|        2020 |            2 |           9 |           900 |
|        2020 |            2 |          10 |           900 |
|        2020 |            2 |          11 |           900 |
|        2020 |            2 |          12 |           858 |
|        2020 |            2 |          13 |           840 |
|        2020 |            2 |          14 |           840 |
|        2020 |            2 |          15 |           840 |
|        2020 |            2 |          16 |           840 |
|        2020 |            2 |          17 |           840 |
|        2020 |            2 |          18 |           840 |
|        2020 |            2 |          19 |           840 |
|        2020 |            2 |          20 |           840 |
|        2020 |            2 |          21 |           840 |
|        2020 |            2 |          22 |           840 |
|        2020 |            2 |          23 |           840 |
+-------------+--------------+-------------+---------------+

In [62]:
#(19) driver violation trend based on race & age[join with subquery]
mycursor.execute("""select 
    age_info.age_group,
    r.driver_race,
    count(*) as total_violations
from digital.ledger r
join(
    select distinct
        driver_age,
        case
            when driver_age between 16 and 25 then '16-25'
            when driver_age between 26 and 35 then '26-35'
            when driver_age between 36 and 50 then '36-50'
            when driver_age>50 then '51+'
            else 'Unknown'
        end as age_group from digital.ledger)as age_info on r.driver_age=age_info.driver_age
group by age_info.age_group, r.driver_race
order by age_info.age_group, r.driver_race;
""")
a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+---------------+--------------------+
| age_group   | driver_race   |   total_violations |
|-------------+---------------+--------------------|
| 16-25       | Asian         |               1587 |
| 16-25       | Black         |               1670 |
| 16-25       | Hispanic      |               1605 |
| 16-25       | Other         |               1648 |
| 16-25       | White         |               1627 |
| 26-35       | Asian         |               2127 |
| 26-35       | Black         |               2073 |
| 26-35       | Hispanic      |               2084 |
| 26-35       | Other         |               2058 |
| 26-35       | White         |               2032 |
| 36-50       | Asian         |               3140 |
| 36-50       | Black         |               3100 |
| 36-50       | Hispanic      |               3131 |
| 36-50       | Other         |               3164 |
| 36-50       | White         |               3155 |
| 51+         | Asian         |               6257 |
| 51+         | Black         |               6288 |
| 51+         | Hispanic      |               6186 |
| 51+         | Other         |               6252 |
| 51+         | White         |               6354 |
+-------------+---------------+--------------------+

In [63]:
#(20) yearly breakdown of stops and arrests by country(using subquery and window functions)
mycursor.execute("""
select
    stats.stop_year,
    stats.country_name,
    stats.total_stops,
    stats.total_arrests,
    round(total_arrests/NULLIF(total_stops*100.0,0), 2)as arrest_rate_percent,
    sum(total_arrests) over(partition by country_name 
    order by stop_year
    ) as cumulative_arrests
from(
    select 
        year(str_to_date(stop_date,'%Y-%m-%d'))as stop_year,
        country_name,
        count(*) as total_stops,
        count(if(is_arrested,1,NULL))as total_arrests
    from digital.ledger
    group by stop_year,country_name
)as stats
order by stats.country_name,stats.stop_year
""")

a=mycursor.fetchall()
from tabulate import tabulate
print(tabulate(a,headers=[i[0] for i in mycursor.description],tablefmt='psql'))

+-------------+----------------+---------------+-----------------+-----------------------+----------------------+
|   stop_year | country_name   |   total_stops |   total_arrests |   arrest_rate_percent |   cumulative_arrests |
|-------------+----------------+---------------+-----------------+-----------------------+----------------------|
|        2020 | Canada         |         21908 |           10999 |                  0.01 |                10999 |
|        2020 | India          |         21998 |           11091 |                  0.01 |                11091 |
|        2020 | USA            |         21632 |           10756 |                  0    |                10756 |
+-------------+----------------+---------------+-----------------+-----------------------+----------------------+